/problema01/Ejercicio/nbproject/private/
/problema01/Ejercicio/build/
/poblema02/Ejercicio02/nbproject/private/
/poblema02/Ejercicio02/build/
/poblema02/Problema03/nbproject/private/
/poblema02/Problema03/build/